body {
    background-color: rgba(72, 61, 139, 0.90);
}
h1 {
    color: white;
    font-size: x-large;
    font-family: Sans;
}
a {
    color: white;
}
.post {
    display: inline-block;
    width: 80%;
    /*height: 400pt;*/
    margin-left: 10%;
    margin-top: 50pt;
    vertical-align: top;


}
/*.post-image {*/
    /*float: right;*/
/*}*/

.post-avatar {
    float:left;
    margin-left: -1pt;
    margin-top: 0pt;
}


.post-content {
    background-color: rgba(240, 248, 255, 0.55);
    margin-left: 30pt;
    float:left;
    padding: 0pt;
    width: 450pt;
    /*height:190pt;*/
    font-family: Sans;
    font-size: 10pt;
}
.post-body {
    text-align: justify;
    /*font-family: Sans;*/
    font-size: 13pt;

    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: -1pt;
}
.post-author {
    font-size: 20pt;
    padding-left: 10pt;
    padding-top: 10pt;
    font-weight: bold;
}

.post-timestamp {
    /*padding: 5pt;*/
    font-size: 11pt;
    font-family: Sans;
    display: inline-block;
}
a {
    text-decoration: none;
}
/*.post-content#author {*/

/*}*/
/*.post-content#time {*/

/*}*/