/*######################### index.html ########################*/

.like-active{
    color: green;
    font-size: 20px;
}
.dislike-active{
    color: red;
    font-size: 20px;
}
.neutral-active{
    font-size: 20px;
}

/*.post-content#author {*/

/*}*/
/*.post-content#time {*/

/*}*/