<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ user.nickname }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
<link rel="stylesheet" href="/static/css/custom-styles.css">
<link rel="stylesheet" href="/static/css/index.css">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
<![endif]-->

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="/static/img/favicon.ico">
<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

<!-- JS
================================================== -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/blog.js"></script>
<script src="/static/js/jquery.custom.js"></script>
<script src="/static/js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea', height: 200});</script>
<script src="/static/js/ajax.jquery.js"></script>


</head>

<body>

<!-- Begin system info -->
    <label><input type="hidden" id="user-id" value="{% if user.id %}{{ user.id }}{% else %}0{% endif %}"/></label>


<!--End sysinfo-->
	<div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>

    <div class="container main-container">

      <div class="row header"><!-- Begin Header -->

        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
            <h1>Коллективный блог</h1>
        </div>

        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
            <div class="navbar hidden-phone">

            <ul class="nav">
             <li><a href="/">ГЛАВНАЯ</a></li>
             <li><a href="/login">ВОЙТИ</a></li>
             <li><a href="/registration">РЕГИСТРАЦИЯ</a></li>
             <li><a href="/logout">ВЫЙТИ</a></li>
            </ul>
            </div>

            <!-- Mobile Nav
            ================================================== -->

        </div>

      </div><!-- End Header -->

    <!-- Blog Content
    ================================================== -->
    <div class="row">

        <!-- Blog Posts
        ================================================== -->
        <div class="span8 blog">

            <!-- Blog Post 1 -->
            {% for post in posts %}

            <article class="clearfix">
                <img src="/static/img/gallery/gallery-img-1-4col.jpg" alt="Post Thumb" class="align-left">
                <h4 class="title-bg">{{ post[1].nickname }}</h4>
                    <p>{{ (post[0].body|safe) }}</p>
                    <a href="/post/{{ post[0].id }}" style="text-decoration: none;"><button class="btn btn-mini btn-inverse" type="button" >Читать далее</button></a>
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i>{{ post[0].timestamp }}</li>
                            <li><i class="icon-user"></i> <a href="/user/{{ post[1].nickname }}">{{ post[1].nickname }}</a></li>
                            <li><i class="icon-comment"></i> <a href="/post/{{ post[0].id }}">Комментарии</a></li>

                            <li><div class="dislike" id="dislike-{{ post[0].id }}" post_id="{{ post[0].id }}" cond="{% if post[2] == -1 %}down{% elif post[2] == 0 %}zero{% else %}up{% endif %}" user_id="{{ user.id }}" type="against" user_type="{{ guest }}"><i class="icon-chevron-down"></i></div></li>
                            <li><div id="likes-count-{{ post[0].id }}" class="{% if post[2] == -1 %}dislike-active{% elif post[2] == 0 %}neutral-active{% else %}like-active{% endif %}" count="{{ post[0].rating }}">{{ post[0].rating }}</div></li>
                            <li><div class="like" id="like-{{ post[0].id }}" post_id="{{ post[0].id }}" cond="{% if post[2] == 1 %}down{% elif post[2] == 0 %}zero{% else %}up{% endif %}" user_id="{{ user.id }}" type="for" user_type="{{ guest }}"><i class="icon-chevron-up"></i></div></li>

                        </ul>
                    </div>
            </article>
            {% endfor %}

            <!-- Pagination -->
{#            <div class="pagination">#}
{#                <ul>#}
{#                <li class="active"><a href="#">Prev</a></li>#}
{#                <li class="active"><a href="#">1</a></li>#}
{#                <li><a href="#">2</a></li>#}
{#                <li><a href="#">3</a></li>#}
{#                <li><a href="#">4</a></li>#}
{#                <li><a href="#">Next</a></li>#}
{#                </ul>#}
{#            </div>#}
        </div>
        <div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->



            <!--Testimonials-->
            <h5 class="title-bg">{{ rights }}</h5>

            <p class="quote-text side">Вы находитесь на данной странице под ником {{ user.nickname }}<cite>Служебная информация</cite></p>


        </div>



    </div>

    </div> <!-- End Container -->

    <!-- Footer Area
        ================================================== -->
	<div class="footer-container"><!-- Begin Footer -->
    	<div class="container">
        	<br>
            <br>

            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer -->

    <!-- Scroll to Top -->
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>


</body>
</html>
