<!DOCTYPE html>
<html xmlns:sdsd="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Post</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
<link rel="stylesheet" href="/static/css/custom-styles.css">
<link rel="stylesheet" href="/static/css/index.css">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="/static/css/style-ie.css"/>
<![endif]--> 

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="/static/img/favicon.ico">
<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

<!-- JS
================================================== -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/blog.js"></script>
<script src="/static/js/jquery.custom.js"></script>

</head>

<body>
<!-- Begin system info -->
    <label><input type="hidden" id="page-type" value="post"/></label>
    <label><input type="hidden" id="user-id" value="{{ user.id }}"/></label>
    <input type="hidden" id="page-time" value="{{ time }}"/>
<!--End sysinfo-->
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container main-container">
    
      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
            <h1>Коллективный блог {{ owner.nickname }}</h1>
        </div>
        
        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
            <div class="navbar hidden-phone">
            
            <ul class="nav">
            <li><a href="/">ГЛАВНАЯ</a></li>
             <li><a href="/login">ВОЙТИ</a></li>
             <li><a href="/registration">РЕГИСТРАЦИЯ</a></li>
             <li><a href="/logout">ВЫЙТИ</a></li>
            </ul>
           
            </div>

             <!-- Mobile Nav
            ================================================== -->

        </div>

      </div><!-- End Header -->
     
    <!-- Blog Content
    ================================================== --> 
    <div class="row"><!--Container row-->

        <!-- Blog Full Post
        ================================================== --> 
        <div class="span8 blog">

            <!-- Blog Post 1 -->
            <article>
                <h3 class="title-bg">Пользователь {{ owner.nickname }} пишет</h3>
                <div class="post-content">
                    <a href="#"><img src="/static/img/gallery/post-img-1.jpg" alt="Post Thumb"></a>

                    <div class="post-body">
                        {{ post.body|safe }}
                    </div>

                    <div class="post-summary-footer">
                        <ul class="post-data">
                            <li><i class="icon-calendar"></i>{{ post.timestamp }}</li>
                            <li><i class="icon-user"></i> <a href="#">{{ owner.nickname }}</a></li>
                            <li><i class="icon-comment"></i> <a href="/post/{{ post.id }}">Комментарии</a></li>

                            <li><div class="dislike" id="dislike-{{ post.id }}" post_id="{{ post.id }}" cond="{% if liked == -1 %}down{% elif liked == 0 %}zero{% else %}up{% endif %}" user_id="{{ user.id }}" type="against"><i class="icon-chevron-down"></i></div></li>
                            <li><div id="likes-count-{{ post.id }}" class="{% if liked == -1 %}dislike-active{% elif liked == 0 %}neutral-active{% else %}like-active{% endif %}" count="{{ post.rating }}">{{ post.rating }}</div></li>
                            <li><div class="like" id="like-{{ post.id }}" post_id="{{ post.id }}" cond="{% if liked == 1 %}down{% elif liked == 0 %}zero{% else %}up{% endif %}" user_id="{{ user.id }}" type="for"><i class="icon-chevron-up"></i></div></li>
                        </ul>
                    </div>
                </div>
            </article>

        <!-- Post Comments
        ================================================== --> 
            <section class="comments">
                <h4 class="title-bg"><a name="comments"></a>Комментарии</h4>
                <ul>
                    {% for comment in comments %}
                    <li>
                        <img src="/static/img/user-avatar.jpg" alt="Image" />
                        <a href="/user/{{ comment[1].nickname }}"><span class="comment-name">{{ comment[1].nickname }}</span></a>
                        <span class="comment-date">{{ comment[0].timestamp }}</span>
                        <div class="comment-content">{{ comment[0].body }}</div>
                        <!-- Reply -->
                    </li>
                    {% endfor %}
                </ul>
            
                <!-- Comment Form -->
                <div class="comment-form-container">
                    <h6>Оставить комментарий</h6>
                    <form action="#" id="comment-form">
                        <input type="hidden" name="post_id" value="{{ post.id }}"/>
                        <input type="hidden" name="user_id" value="{{ user.id }}"/>
                        <label><textarea class="span6" name="body"></textarea></label>
                        <div class="row">
                            <div class="span2">
                                <input type="submit" class="btn btn-inverse" href="javascript:void();"  value="Отправить">
                            </div>
                        </div>
                    </form>
                </div>
        </section><!-- Close comments section-->

        </div><!--Close container row-->

        <!-- Blog Sidebar
        ================================================== -->
        <div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->



            <!--Testimonials-->
            <h5 class="title-bg">{{ rights }}</h5>

            <p class="quote-text side">Вы находитесь на данной странице под ником {{ user.nickname }}<cite>Служебная информация</cite></p>
        </div>


    </div>
    
    </div> <!-- End Container -->

    <!-- Footer Area
        ================================================== -->
	<div class="footer-container"><!-- Begin Footer -->
    	<div class="container">
        	<br>
            <br>

            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer -->



    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
    
</body>
</html>
