<!DOCTYPE html>
<html xmlns:sdsd="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Post</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
<link rel="stylesheet" href="/static/css/custom-styles.css">
<link rel="stylesheet" href="/static/css/index.css">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="/static/css/style-ie.css"/>
<![endif]-->

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="/static/img/favicon.ico">
<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

<!-- JS
================================================== -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/blog.js"></script>
<script src="/static/js/jquery.custom.js"></script>

</head>

<body>
<!-- Begin system info -->
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>

    <div class="container main-container">

      <div class="row header"><!-- Begin Header -->

        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
            <h1>Коллективный блог</h1>
        </div>
        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
            <div class="navbar hidden-phone">

            <ul class="nav">
            <li><a href="/">ГЛАВНАЯ</a></li>
             <li><a href="/login">ВОЙТИ</a></li>
             <li><a href="/registration">РЕГИСТРАЦИЯ</a></li>
             <li><a href="/logout">ВЫЙТИ</a></li>
            </ul>

            </div>

             <!-- Mobile Nav
            ================================================== -->

        </div>

      </div><!-- End Header -->

    <!-- Blog Content
    ================================================== -->
        <div class="row">
            <h3 class="title-bg">ЗАРЕГИСТРИРУЙТЕСЬ</h3>
            {% if capcha_error == 1 %}
            <div class="alert alert-error">
                Капча не верна
            </div>
            {% endif %}
        <form class="form-signin"  method="POST">
                <label for="inputEmail" >E-mail:</label>
                <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Your e-mail" required>
                <br>
                <label for="inputPassword" >Пароль:</label>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required >
                <br>
                <label for="inputCurr_Password" >Повторите пароль:</label>
                <input type="password" id="inputCurr_Password" name="inputCurr_Password" class="form-control" placeholder="Once again" required >
                <br>
                <input name="inputAgree" type="checkbox" value="agree" required> Я согласен со всеми правилами, чего бы оно мне не стоило!
                <br>
                {{ number_one }} + {{ number_two }} = <input name="inputCapcha" required><br>Пример: один + два = 3
                <input type="hidden" name="inputResult" value="{{ result }}">
                <br>
                <br>
                <button class="btn " type="submit">Зарегистрироваться!</button>
            </form>
            </div>


    </div> <!-- End Container -->

    <!-- Footer Area
        ================================================== -->
	<div class="footer-container"><!-- Begin Footer -->
    	<div class="container">
        	<br>
            <br>

            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer -->



    <!-- Scroll to Top -->
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>

</body>
</html>
