<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ user.nickname }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
<link rel="stylesheet" href="/static/css/jquery.lightbox-0.5.css">
<link rel="stylesheet" href="/static/css/custom-styles.css">
<link rel="stylesheet" href="/static/css/index.css">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/style-ie.css"/>
<![endif]--> 

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="/static/img/favicon.ico">
<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

<!-- JS
================================================== -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/blog.js"></script>
<script src="/static/js/jquery.custom.js"></script>

<script src="/static/js/ajax.jquery.js"></script>
<script src="/static/js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea', height: 200, menubar:false, statusbar: false});</script>


</head>

<body>

<!-- Begin system info -->
    <label><input type="hidden" id="user-id" name="user-id" value="{{ user.id }}"/></label>
    <label><input type="hidden" id="owner-id" name="owner-id" value="{{ owner.id }}"/></label>
    <input type="hidden" size="5" name="is_follower" id="is_follower" value="{% if rights == "bloguser" %}1{% else %}0{% endif %}">

<!--End sysinfo-->
	<div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container main-container">
    
      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
            <h1>Коллективный блог {{ owner.nickname }}</h1>
        </div>
        
        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
            <div class="navbar hidden-phone">
            
            <ul class="nav">
             <li><a href="/">ГЛАВНАЯ</a></li>
                <li><a href="/user/{{ user.nickname }}">МОЯ СТРАНИЦА</a></li>
                <li><a href="/new_blog">СОЗДАТЬ БЛОГ</a></li>
                <li><a href="/login">ВОЙТИ</a></li>
                <li><a href="/registration">РЕГИСТРАЦИЯ</a></li>
                <li><a href="/logout">ВЫЙТИ</a></li>

            </ul>
           
            </div>

            <!-- Mobile Nav
            ================================================== -->
                
        </div>

      </div><!-- End Header -->
     
    <!-- Blog Content
    ================================================== --> 
    <div class="row">

        <!-- Blog Posts
        ================================================== --> 
        <div class="span8 blog">

            <!-- Blog Post 1 -->
            {% if rights != "ban" %}
            {% for post in posts %}

            <article class="clearfix" id="art-{{ post[0].id }}">
                <img src="/static/img/gallery/gallery-img-1-4col.jpg" alt="Post Thumb" class="align-left">
                <h4 class="title-bg">{{ owner.nickname }}</h4>
                    <p>{{ (post[0].body|safe) }}</p>
                    <a href="/post/{{ post[0].id }}" style="text-decoration: none;">
                        <button class="btn btn-mini btn-inverse" type="button" >Читать далее</button></a>
                    {% if rights in ["blogowner", "blogadmin"] %}
                    <button class="btn btn-mini btn-warning btn-delete" post_id="{{ post[0].id }}" type="button" >УДАЛИТЬ</button>
                    {% endif %}
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i>{{ post[0].timestamp }}</li>
                            <li><i class="icon-user"></i> <a href="/user/{{ owner.nickname }}">{{ owner.nickname }}</a></li>
                            <li><i class="icon-comment"></i> <a href="/post/{{ post[0].id }}">Комментарии</a></li>

                            <li><div class="dislike" id="dislike-{{ post[0].id }}" post_id="{{ post[0].id }}" cond="{% if post[1] == -1 %}down{% elif post[1] == 0 %}zero{% else %}up{% endif %}" user_id="{{ user.id }}" type="against"><i class="icon-chevron-down"></i></div></li>
                            <li><div id="likes-count-{{ post[0].id }}" class="{% if post[1] == -1 %}dislike-active{% elif post[1] == 0 %}neutral-active{% else %}like-active{% endif %}" count="{{ post[0].rating }}">{{ post[0].rating }}</div></li>
                            <li><div class="like" id="like-{{ post[0].id }}" post_id="{{ post[0].id }}" cond="{% if post[1] == 1 %}down{% elif post[1] == 0 %}zero{% else %}up{% endif %}" user_id="{{ user.id }}" type="for"><i class="icon-chevron-up"></i></div></li>


                        </ul>
                    </div>
            </article>

            {% endfor %}
{#            {% endif %}#}
            {% if rights == "me" or rights == "blogowner" or rights == "blogadmin" %}
            <form role="form" enctype="multipart/form-data" method="POST">
                <label for="inputBody"></label>
                <textarea id="inputBody" name="inputBody" required>Введите сообщение...</textarea>
                {% if rights != "me" %}
                <!--    <label for="inputRole" ></label>
                    <input name="inputRole" id="inputRole" type="checkbox" value="blog"> От блога -->
                {% endif %}
                <div align="center">
{#                    <label  for="inputImage">Добавить картинку</label>#}
{#                    <input type="file" id="inputImage" name="inputImage">#}
                    <button type="submit" value="image" >Отправить</button>
                </div>
            </form>
            {% endif %}
            {% else %}
                <p>Ваш доступ к материалам сообщества заблокирован, обратитесь к владельцу.</p>
            {% endif %}


            <!-- Pagination -->

        </div>
        <div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->

            {% if rights in ["nobody", "bloguser"] %}<button href="javascript:void();" id="follow" class="btn btn-large" type="button">{% if rights == "nobody" %}JOIN{% else %}OUT{% endif %}</button> {% endif %}



            <!--Testimonials-->
            <h5 class="title-bg">ПРАВА: {{ rights }}</h5>

            <p class="quote-text side">Вы находитесь на данной странице под ником {{ user.nickname }}<cite>Служебная информация</cite></p>

            <!--Tabbed Content-->

            {% if owner.type %}
            <h5 class="title-bg">УЧАСТНИКИ</h5>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#bosses" data-toggle="tab">Владелец</a></li>
                <li><a href="#admins" data-toggle="tab">Редакторы</a></li>
                <li><a href="#members" data-toggle="tab">Участники</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="bosses">
                     <ul>
                         {% for boss in owners %}
                            <li><i class="icon-user"></i><a href="/user/{{ boss.nickname }}">{{ boss.nickname }}</a>&nbsp&nbspВладелец</li>
                         {% endfor %}
                     </ul>
                </div>
                <div class="tab-pane" id="admins">
                    <ul>
                         {% for admin in admins %}
                            <li><i class="icon-user"></i><a href="/user/{{ admin.nickname }}">{{ admin.nickname }}</a>&nbsp&nbspРедактор</li>
                         {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="members">
                    <ul>
                         {% for member in members %}
                            <li>
                                <i class="icon-user"></i><a href="/user/{{ member.nickname }}">{{ member.nickname }}</a>&nbsp&nbspУчастник
                                {% if rights in ["blogadmin", "blogowner"] %}
                                {% if rights in ["blogowner"] %}<button class="btn btn-mini rights-button" id="prev-{{ member.id }}" member_id="{{ member.id }}" value="0" type="button">USER</button>{% endif %}
                                <button class="btn btn-mini btn-warning ban-button" id="ban-{{ member.id }}" member_id="{{ member.id }}" value="0" type="button">BAN</button>
                                {% endif %}
                            </li>
                         {% endfor %}
                         {% for member in members_ban %}
                            <li>
                                <i class="icon-user"></i><a href="/user/{{ member.nickname }}">{{ member.nickname }}</a>&nbsp&nbspMember
                                {% if rights in ["blogadmin", "blogowner"] %}
                                {% if rights in ["blogadmin", "blogowner"] %}<button class="btn btn-mini rights-button" id="prev-{{ member.id }}" member_id="{{ member.id }}" value="0" type="button">USER</button>{% endif %}
                                <button class="btn btn-mini btn-warning ban-button" id="ban-{{ member.id }}" member_id="{{ member.id }}" value="1" type="button">BANNED</button>
                                {% endif %}
                            </li>
                         {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

        </div>



    </div>
    
    </div> <!-- End Container -->

    <!-- Footer Area
        ================================================== -->
	<div class="footer-container"><!-- Begin Footer -->
    	<div class="container">
        	<br>
            <br>

            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer --> 

    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
</body>
</html>
